{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}


<div class="container-fluid">
    <h1>COMPUTER INTRODUCTION</h1>
    <div class="container card mx-auto  ">
        {% for core in intro %}
        <h1>{{core.topic}}</h1>
        <div class="card">
            <p>{{core.content}}</p>
            <img src="{{core.pic_url}}"
                 alt="">
        </div>

        {% endfor %}<p> Click here to view course <a href="{{url_for('main.exerciseintro')}}">excercise</a></p>

    </div>

</div>

{% endblock %}