{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}


<div class="container-fluid">
    <h2>PROMGRAMMING EXCERCISE</h2>
    <div class="conatainer card mt-4">
        <form action='/results/programming'
              method='POST'>
            <ol>
                {% for question in questions %}
                <li>{{question}}?</li>
                {% for choose in chooses[question] %}
                <input type="radio"
                       value="{{j}}"
                       name="{{question}}">{{choose}}
                {% endfor %}
                {% endfor %}
            </ol>
            <input type="submit"
                   value="submit" />
        </form>
    </div>
</div>

{% endblock %}