<nav class="navbar navbar-expand-lg  mx-auto mx-5 d-flex flex-row"
     style="background-color: #1B618A;">
    <a class="navbar-brand"
       href="{{url_for('main.index')}}"> <img src="../static/images/56.png"
             width="120"> </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="float: right;"
         id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link ml-2"
                   href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link"
                   href="">Course</a>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link"
                   href="">Exercise</a>
            </li class="nav-item ml-2">
            {%
            if
            current_user.is_authenticated
            %}
            <li class="nav-item ml-2">{{current_user.username}}</li>
            <li class="nav-item ml-2">
                <!-- <a href="">Profile</a> -->
            </li>
            <li class="nav-item ml-2"><a href="{{url_for('auth.logout')}}">Sign out</a></li>
            {% else %}
            <li class="nav-item ml-2">
                <a class="nav-link"
                   href="{{url_for('auth.register')}}">Register User</a>
            </li>
            <li class="ml-2"><a href="{{url_for('auth.login')}}">Sign in</a></li>
            {%endif%}
        </ul>
        <!--<ul class="navbar-nav">

        </ul>-->
    </div>
</nav>